/*Global Styles - Museum of Science Oslo

Color Palette HEX + RGB:

#6677ED rgba(102, 119, 237,1);
#ED9372 rgba(237, 147, 114, 1);
#5ABAED; rgba(90, 186, 237,1);
#EDC642; rgba(237, 198, 66,1);
#4EEDCF; rgba(20, 89, 99,1);

Typeface/Font: 
Niveau Grotesk
font-family: niveau-grotesk, sans-serif;
font-weight: 200,300,400,500,600,700,800;
font-style: normal, italic;
*/

/*Global Styles*/
html {
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}	
body {
	margin:0;
	padding: 0;
}
ul li {
	list-style-type: none;
	text-decoration: none;
}
a {
	text-decoration: none;
	color: black;
}

/*Pseudo - Links on page*/
a:link {
	text-decoration: none;
	color: rgba(0,0,0,1);
}
a:visited {
	text-decoration: none;
}
a:hover {
	color:rgba(237, 198, 66, 1);
	text-decoration: none;
}
a:active {
	text-decoration: underline;
	color: rgba(237,147,230,1);
}
/*MediaQueries*/
/*Smartphone*/
	@media only screen and (max-width:414px) {
		body {
			max-width: 414px;
			font-family:niveau-grotesk, sans-serif;
			}
		.logo_moso {
			max-width: 30vw;
			min-width: 10vw;
			position: absolute;
			z-index: 10;
			margin-top: 10px;
		}
		.main_nav_wrapper {
			max-width: 100vh;
			max-height: 100vh;
			background-color: transparent;
			position: fixed;
			margin-top: 270px;
			margin-left: -160px;
			padding: 15px;
			font-family: niveau-grotesk, sans-serif;
			font-weight: 600;
			font-size: 0.8em;
			font-style: italic;
			z-index: 5;
			transform: rotate(90deg);
		}
		ul li {
			transform: rotate(90deg);
			display: inline;
			padding-right: 10px;
			color: black;
	}
		.section1_index {
			background-color: transparent;
			display: flex;
			max-width: 100vw;
			margin-bottom: 0;
			background-image: url(img/colored/small/brett-meliti-RgkYMfFopIA-unsplash_flipped_small2.jpg);
			background-repeat: no-repeat;
			background-size: 90vw;
			background-position: left;
			margin-top: 10px;
			padding-top: 90px;
	}
		.section1_index h1 {
			font-family:niveau-grotesk, sans-serif;
			font-weight: 800;
			font-size: 4em;
			font-style: normal;
			color:black;
			line-height: 0.75em;
			display: flex;
			max-width: 100vw;
			padding-right:10px;
			padding-left:50px;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-right: 10px;
			color:black;
			background-color: rgba(255,255,255,0.8);
	}
		.section2_index {
			background-color: rgba(90, 186, 237,1);
			font-family:niveau-grotesk, sans-serif;
			max-width: 100vw;
			padding-top: 20px;
			padding-right: 20px;
			padding-bottom: 20px;
			padding-left: 30px;
			margin-left:50px;
			margin-top:0px;
			margin-right: 0px;
			margin-bottom: 20px;
			z-index: -25;
	}
	 	.section2_index h2 {
	 		font-weight: 700;
	 		font-size: 1.2em;
	 		line-height: 0.9em;
	 		font-style: normal;
	 		color:rgba(0,0,0,1);
	 		max-width: 100vw;
	 		margin-top: 0;
	 	}
	 	.section2_index p {
	 		font-size: 0.7em;
	 		padding-top: 2px;
	 		color: black;
	 	}
	 	.section3_index {
	 		display: flex;
	 		max-width: 100vw;
	 		align-content: center;
	 		padding: 10px;
	 		background-image: url(img/colored/small/brian-mcgowan-I0fDR8xtApA-unsplash.jpg);
	 		background-repeat: no-repeat;
	 		background-size: 80vw;
	 		background-position: left;
	 		margin-bottom: 20px;
	 	}
	 	.section3_index h2 {
	 		max-width: 100vw;
	 		margin: 0 auto;
	 		font-size: 3em;
	 		font-weight: 800;
	 		font-style: italic;
	 		color:#ED9372;
	 		padding-top: 60px;
	 		padding-bottom: 60px;
	 		margin-left: 40px;	
	 	}
	 	.section4_index {
	 		display: flex;
	 		max-width: 80vw;
	 		flex-direction: column;
	 		margin: 0 auto;
	 		padding: 40px;
	 		background-color: rgba(237, 147, 114, 1);
	 	}
	 	.section4_index p {
	 		font-size: 0.7em;
	 		font-style: normal;
	 		font-weight: 400;
	 		color: white;
	 		
	 	}
	 	.section4_index h2 {
	 		font-size: 1em;
	 		line-height: 0.9;
	 		color: white;
	 	}
	 	.section5_index {
	 		display: flex;
	 		max-width: 80vw;
	 		flex-direction: column;
	 		margin: 0 auto;
	 		padding: 40px;
	 		background-color: rgba(237, 147, 114, 1);
	 	}
	 	.section5_index p {
	 		font-size: 0.7em;
	 		font-style: normal;
	 		font-weight: 400;
	 		color: white;
	 		
	 	}
	 	.section5_index h2 {
	 		font-size: 1em;
	 		line-height: 0.9;
	 		color: white;
	 	}
}

/*Tablet*/
	@media only screen and (min-width:415px) and (max-width:1024px) {
		body {
			max-width: 1024px;
		}
}
/*Desktop*/
	@media only screen and (min-width:1025px){
		body {
			max-width: 1440px;
			background-color:rgba(242, 214, 162, 0.3); 
		}
		.img_landing_small {
			display:none;
		}
		.logo_moso {
			max-width: 20vw;
			min-width: 10vw;
			position: absolute;
			top:0;
			left: 0;
			padding: 20px;
			z-index: 10;
		}
		.main_nav_wrapper {
			display: flex;
			max-width: 100%;
			background-color: transparent;
			align-content: center;
			position: relative;
			margin-top: 50px;
			margin-left: 30%;
			padding: 10px;
			font-family: niveau-grotesk, sans-serif;
			font-weight: 500;
			font-size: 2em;
			font-style:  italic;
			z-index: 5;
		}
		.main_nav_wrapper ul li {
			display: inline;
			padding-right: 30px;
		}
		.section1_index {
			background-color: transparent;
			display: flex;
			max-width: 100vw;
			margin-bottom: 0;
		}
		.section1_index img {
			display: flex;
			top:0;
			right: 0;
			margin-top: 10%;
			min-width: 90vw;
			z-index: -1;
		}
		.section1_index h1 {
			font-family:niveau-grotesk, sans-serif;
			font-weight: 800;
			font-size: 12em;
			font-style: normal;
			color:rgba(90, 186, 237,1);
			padding-left: 17vw;
			padding-bottom: 0;
			line-height: 0.75em;
			display: flex;
			max-width: 30%;
		}
		.section2_index {
			background-color: rgba(90, 186, 237,1); 
			font-family:niveau-grotesk, sans-serif;
			height: 400px;
			padding: 20px;
			margin-top:0;
			z-index: 25;
		}
		.image_landing_small {
			display: none;
		}
}

